K1.0/User/UserService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  #%L
  Kommunalportal.NRW Extension-API
  %%
  Copyright (C) 2018 - 2021 SIT GmbH
  %%
  © SIT Südwestfalen-IT – alle Rechte vorbehalten
  #L%
  -->

<wsdl:definitions  name="UserService" targetNamespace="urn:kommunalportal-nrw:extension-api:K1.0:User:Service"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:us="urn:kommunalportal-nrw:extension-api:K1.0:User:Service"
	xmlns:um="urn:kommunalportal-nrw:extension-api:K1.0:User:Messages"
	xmlns:cm="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages"
	xmlns:bm="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:User:Messages" schemaLocation="UserMessages.xsd" />
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages" schemaLocation="../Core/CoreMessages.xsd" />
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages" schemaLocation="../BaseMessages.xsd" />
		</xsd:schema>
	</wsdl:types>
	
	<!-- Header -->
	<wsdl:message name="auth">
		<wsdl:part name="auth" element="cm:auth" />
	</wsdl:message>

	<wsdl:message name="client">
		<wsdl:part name="client" element="cm:client" />
	</wsdl:message>
	
	<!-- Body -->
	<wsdl:message name="serverFault">
		<wsdl:part name="fault" element="bm:serverFault" />
	</wsdl:message>
	
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="bm:getVersion" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="bm:getVersionResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUserRequest">
		<wsdl:part element="um:getUser" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part element="um:getUserResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUserInfoRequest">
		<wsdl:part element="um:getUserInfo" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getUserInfoResponse">
		<wsdl:part element="um:getUserInfoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="UserService">
		<wsdl:operation name="getVersion">
			<wsdl:input message="us:getVersionRequest" />
			<wsdl:output message="us:getVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdl:input message="us:getUserRequest" />
			<wsdl:output message="us:getUserResponse" />
			<wsdl:fault name="fault" message="us:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<wsdl:input message="us:getUserInfoRequest" />
			<wsdl:output message="us:getUserInfoResponse" />
			<wsdl:fault name="fault" message="us:serverFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserServiceSOAP" type="us:UserService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:User:action:getVersion" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="us:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:User:action:getUser" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="us:auth" part="auth"/>
				<soap:header message="us:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserInfo">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:User:action:getUserInfo" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="us:auth" part="auth"/>
				<soap:header message="us:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
