K1.0/TempData/TempDataService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  #%L
  Kommunalportal.NRW Extension-API
  %%
  Copyright (C) 2018 - 2021 SIT GmbH
  %%
  © SIT Südwestfalen-IT – alle Rechte vorbehalten
  #L%
  -->

<wsdl:definitions name="TempDataService" targetNamespace="urn:kommunalportal-nrw:extension-api:K1.0:TempData:Service"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:tds="urn:kommunalportal-nrw:extension-api:K1.0:TempData:Service"
				  xmlns:cm="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages"
				  xmlns:tdm="urn:kommunalportal-nrw:extension-api:K1.0:TempData:Messages"
				  xmlns:bm="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:TempData:Messages" schemaLocation="TempDataMessages.xsd" />
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages" schemaLocation="../Core/CoreMessages.xsd" />
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages" schemaLocation="../BaseMessages.xsd" />
		</xsd:schema>
	</wsdl:types>
	
	<!-- Header -->
	<wsdl:message name="auth">
		<wsdl:part name="auth" element="cm:auth" />
	</wsdl:message>

	<wsdl:message name="client">
		<wsdl:part name="client" element="cm:client" />
	</wsdl:message>

	<!-- Body -->
	<wsdl:message name="serverFault">
		<wsdl:part name="fault" element="bm:serverFault" />
	</wsdl:message>
	
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="bm:getVersion" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="bm:getVersionResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="saveTempDataRequest">
		<wsdl:part element="tdm:saveTempData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="saveTempDataResponse">
		<wsdl:part element="tdm:saveTempDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getTempDataRequest">
		<wsdl:part element="tdm:getTempData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getTempDataResponse">
		<wsdl:part element="tdm:getTempDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteTempDataRequest">
		<wsdl:part element="tdm:deleteTempData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="deleteTempDataResponse">
		<wsdl:part element="tdm:deleteTempDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="passTempDataRequest">
		<wsdl:part element="tdm:passTempData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="passTempDataResponse">
		<wsdl:part element="tdm:passTempDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="TempDataService">
		<wsdl:operation name="getVersion">
			<wsdl:input message="tds:getVersionRequest" />
			<wsdl:output message="tds:getVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="saveTempData">
			<wsdl:input message="tds:saveTempDataRequest" />
			<wsdl:output message="tds:saveTempDataResponse" />
			<wsdl:fault name="fault" message="tds:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="getTempData">
			<wsdl:input message="tds:getTempDataRequest" />
			<wsdl:output message="tds:getTempDataResponse" />
			<wsdl:fault name="fault" message="tds:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="deleteTempData">
			<wsdl:input message="tds:deleteTempDataRequest" />
			<wsdl:output message="tds:deleteTempDataResponse" />
			<wsdl:fault name="fault" message="tds:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="passTempData">
			<wsdl:input message="tds:passTempDataRequest" />
			<wsdl:output message="tds:passTempDataResponse" />
			<wsdl:fault name="fault" message="tds:serverFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TempDataServiceSOAP" type="tds:TempDataService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:TempData:action:getVersion" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tds:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveTempData">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:TempData:action:saveTempData" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tds:auth" part="auth"/>
				<soap:header message="tds:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTempData">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:TempData:action:getTempData" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tds:auth" part="auth"/>
				<soap:header message="tds:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteTempData">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:TempData:action:deleteTempData" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tds:auth" part="auth"/>
				<soap:header message="tds:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="passTempData">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:TempData:action:passTempData" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tds:auth" part="auth"/>
				<soap:header message="tds:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
