K1.0/Core/CoreService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  #%L
  Kommunalportal.NRW Extension-API
  %%
  Copyright (C) 2018 - 2021 SIT GmbH
  %%
  © SIT Südwestfalen-IT – alle Rechte vorbehalten
  #L%
  -->

<wsdl:definitions name="CoreService" targetNamespace="urn:kommunalportal-nrw:extension-api:K1.0:Core:Service"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:cs="urn:kommunalportal-nrw:extension-api:K1.0:Core:Service"
                  xmlns:cm="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages"
                  xmlns:bm="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Core:Messages" schemaLocation="CoreMessages.xsd"/>
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Core:Types" schemaLocation="CoreTypes.xsd"/>
			<xsd:import namespace="urn:kommunalportal-nrw:extension-api:K1.0:Base:Messages" schemaLocation="../BaseMessages.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<!-- Header -->
	<wsdl:message name="auth">
		<wsdl:part name="auth" element="cm:auth" />
	</wsdl:message>

	<wsdl:message name="client">
		<wsdl:part name="client" element="cm:client" />
	</wsdl:message>
	
	<!-- Body -->
	<wsdl:message name="serverFault">
		<wsdl:part name="fault" element="bm:serverFault" />
	</wsdl:message>
	
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="bm:getVersion" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="bm:getVersionResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part element="cm:ping" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part element="cm:pingResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="verifyRequest">
		<wsdl:part element="cm:verify" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="verifyResponse">
		<wsdl:part element="cm:verifyResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="connectRequest">
		<wsdl:part element="cm:connect" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="connectResponse">
		<wsdl:part element="cm:connectResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="setPortalStatusMessageRequest">
		<wsdl:part element="cm:setPortalStatusMessage" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="setPortalStatusMessageResponse">
		<wsdl:part element="cm:setPortalStatusMessageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="keepAliveRequest">
		<wsdl:part element="cm:keepAlive" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="keepAliveResponse">
		<wsdl:part element="cm:keepAliveResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getTaskRequest">
		<wsdl:part element="cm:getTask" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getTaskResponse">
		<wsdl:part element="cm:getTaskResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="configureRequest">
		<wsdl:part element="cm:configure" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="configureResponse">
		<wsdl:part element="cm:configureResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="CoreService">
		<wsdl:operation name="getVersion">
			<wsdl:input message="cs:getVersionRequest" />
			<wsdl:output message="cs:getVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="cs:pingRequest" />
			<wsdl:output message="cs:pingResponse" />
		</wsdl:operation>
		<wsdl:operation name="verify">
			<wsdl:input message="cs:verifyRequest" />
			<wsdl:output message="cs:verifyResponse" />
			<wsdl:fault name="fault" message="cs:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="connect">
			<wsdl:input message="cs:connectRequest" />
			<wsdl:output message="cs:connectResponse" />
			<wsdl:fault name="fault" message="cs:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="setPortalStatusMessage">
			<wsdl:input message="cs:setPortalStatusMessageRequest" />
			<wsdl:output message="cs:setPortalStatusMessageResponse" />
			<wsdl:fault name="fault" message="cs:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="keepAlive">
			<wsdl:input message="cs:keepAliveRequest" />
			<wsdl:output message="cs:keepAliveResponse" />
		</wsdl:operation>
		<wsdl:operation name="getTask">
			<wsdl:input message="cs:getTaskRequest" />
			<wsdl:output message="cs:getTaskResponse" />
			<wsdl:fault name="fault" message="cs:serverFault" />
		</wsdl:operation>
		<wsdl:operation name="configure">
			<wsdl:input message="cs:configureRequest" />
			<wsdl:output message="cs:configureResponse" />
			<wsdl:fault name="fault" message="cs:serverFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CoreServiceSOAP" type="cs:CoreService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:getVersion" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:ping" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="verify">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:verify" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="connect">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:connect" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setPortalStatusMessage">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:setPortalStatusMessage" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:auth" part="auth"/>
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="keepAlive">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:keepAlive" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:auth" part="auth"/>
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTask">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:getTask" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:auth" part="auth"/>
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="configure">
			<soap:operation soapAction="urn:kommunalportal-nrw:extension-api:K1.0:Core:action:configure" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="cs:auth" part="auth"/>
				<soap:header message="cs:client" part="client"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
